body{
    font-family: system-ui; 
    }
 /* Navigation bar Css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
    border-radius: 20px;
    position:sticky;
  }
  
  .navbar-logo {
    margin-right: auto;
    color: #f2f2f2;
    font-weight: bold;
    text-decoration:none;
    font-size: 2rem;
  }
  
  .navbar a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 10px;
    max-width: 95%;
  }
  
  .navbar a:hover {                 /*Hover Effect */
    background-color: #e8dfdf;
    color: black;
    border-radius: 20px;
  }

  #navimage img{                     /*eleminates image in desktop view*/
    width: 0px;
    height: 0px;
}
  
  
  /* CSS for Responsive Navigation Bar */
  @media screen and (max-width: 768px) {
    .navbar {
      align-items: center;
    }
    
    .navbar-logo {
      margin-right: auto;
    }
    
    .navbar a {
      display: block;
      width: 100%;
    }
  
    
    #navdropdown{               /*hides the navigation options small screen*/
        display: none;
        
    }

    #navimage img{              /* size of nagigation bar on small screen*/
        width: 40px;
        height: 40px;
    }

    .navbar a:hover {
        background-color: #e8dfdf;
        color: black;
        border-radius: 20px;
        width: fit-content;
    }
   }

/* Content css */

.container{
    width: 100%;
    height: auto;
    margin: 2px;
    background-color:  #e8dfdf  ;
    border-radius: 20px;
    
}

.article{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.article i {
  font-size:small;
  font-weight: lighter;
}

.article img{
  border: 2px solid rgb(152, 106, 244);
  border-radius: 20px;
}

.one{
  max-width: 300px;
  height: auto;
  padding: 20px;
  margin: 20px;
  border: 2px solid #333;
  border-radius: 20px;
  background-color:white;

}
.two{
  max-width: 300px;
  height: auto;
  padding: 20px;
  margin: 20px;
  border: 2px solid #333;
  border-radius: 20px;
  background-color:white;

}